@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#8C593B,#A67C58,#D9BBA0);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #644b34b2;
    margin: auto;
    margin-top: 7%;
    width: 600px;
    padding: 10px;
}

h1{
    text-align: center;
    color:#BF7E78;
    text-shadow: 1px 1px 1px rgb(85, 54, 52);
}

h2{
    color:#9b6c51;
}

p{
    text-align: justify;
}